:root {
    --dark-color: #353b48;
    --dark-color-trans: #13161de5;
    --light-dark:#393838ad;
    --green-color: #33d1cc;
    --green2-color: #2ecc71;
    --green3-color: #209250;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --yellow-color-trans: #ffc400d3;
    --section-color: #eff7fa;
    --dark-grey:#393838e3;
    --text-color:#bbbaba;
}
body {
    display:grid;
    grid-template-columns:16vw 1fr;
    background-image:url('../images/cars/merc.jpg');
    background-size:cover;
    background-position:center center;
    font-family: "Roboto", sans-serif;
    animation: transitionIn .8s;
}
@media (max-width:1199px) {
    /* body {
        display:block;
    } */
}
a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
a:hover {
    color: var(--yellow-color);
}
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    transition: background-color .4s, color .4s;
}
.main-btn-nav {
    color: var(--yellow-color);
    transition: background-color .4s, color .4s;
    border: 1px solid #eff7fa52;
}
.main-btn:hover,
.main-btn-nav:hover {
    background-color: var(--yellow-color);
}
.main-title::after {
    content: '';
    position: absolute;
    background-color: var(--green-color);
    width: 120px;
    height: 2px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20px;
}
input[type='radio'] {
    cursor: pointer;
}
textarea {
    min-height: 150px !important;
}
.read-only {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
}
.read-only:focus {
    outline: none;
}
/* Start custom-navbar */
.custom-navbar {
    width:16vw;
    padding: 0 20px 40px 20px;
    height:100vh;
    background-image:linear-gradient(to left, #ffffff3d, #ffffff27, #ffffff10);
    color:#dadada;
}
.custom-navbar .custom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.custom-navbar .image {
    text-align: center;
    padding: 10px 0;
}
.custom-navbar ul {
    list-style:none;
    padding:0;
    margin:0;
}
.custom-navbar .main-menu {
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
}
.custom-navbar ul li,
.custom-navbar .exit {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
    cursor:pointer;
    transition:transform .3s ease-out, color .3s ease-out;
    padding:5px 0 5px 20px;
    border-radius:6px;
}
.second-menu li:last-child {
    display:none;
}
.custom-navbar .main-menu li:hover,
.custom-navbar .second-menu li:not(:first-child):hover,
.custom-navbar .exit:hover {
    transform:matrix(1.1, 0, 0, 1.1, 0, 0);
    color:var(--yellow-color);
}
.active-section {
    transform:matrix(1.2, 0, 0, 1.2, 25, 0);
    background-image:linear-gradient(to right, #ffffff31, #ffffff00);
    color:var(--yellow-color);
}
@media (min-width: 992px) and (max-width:1199px) {
    body {
        display: block;
    }
    .custom-navbar {
        width: 100vw;
        padding:0;
        height: auto;
    }
    .custom-navbar .custom-container {
        display: grid;
        grid-template-columns: 150px 1fr;
        height: auto;
    }
    .custom-navbar .image {
        grid-row:1/3;
    }
    .custom-navbar .main-menu,
    .custom-navbar .second-menu {
        display:flex;
        width:calc(100% - 36px);
    }
    .custom-navbar .main-menu {
        justify-content:space-between;
    }
    .custom-navbar .second-menu {
        justify-content:space-evenly;
    }
    .custom-navbar ul li {
        align-items:center;
    }
    .second-menu li:last-child {
        display:flex;
    }
    .custom-navbar .exit,
    .second-menu li:first-child {
        display:none;
    }
    .custom-navbar .main-menu li:not(:first-child):hover,
    .custom-navbar .second-menu li:hover {
    transform:matrix(1.1, 0, 0, 1.1, 0, 0);
    color:var(--yellow-color);
    }
    .active-section {
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    background-image:none;
    color: var(--yellow-color);
    }
    .active-section a {
    color: var(--yellow-color);
    }
}
@media (min-width: 576px) and (max-width:991px) {
    body {
        display: block;
    }
    .custom-navbar {
        width: 100vw;
        padding:0;
        height: auto;
    }
    .custom-navbar .custom-container {
        display: grid;
        grid-template-columns: 150px 1fr;
        height: auto;
    }
    .custom-navbar .image {
        grid-row:1/3;
    }
    .custom-navbar .main-menu,
    .custom-navbar .second-menu {
        display:flex;
        width:calc(100% - 36px);
        flex-wrap:wrap;
    }
    .custom-navbar .main-menu {
        justify-content:space-between;
        padding-bottom:0;
        padding-top:10px;
    }
    .custom-navbar .second-menu {
        justify-content:space-evenly;
    }
    .custom-navbar ul li {
        align-items:center;
        margin-bottom:0;

    }
    .second-menu li:last-child {
        display:flex;
    }
    .custom-navbar .exit,
    .second-menu li:first-child {
        display:none;
    }
    .custom-navbar .main-menu li:not(:first-child):hover,
    .custom-navbar .second-menu li:hover {
    transform:matrix(1.1, 0, 0, 1.1, 0, 0);
    color:var(--yellow-color);
    }
    .active-section {
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-image:none;
    color: var(--yellow-color);
    }
    .active-section a {
    color: var(--yellow-color);
    }
}
/* End custom-navbar */
/* Start Loading */
.loading {
    background-image:url('../images/background-loading.jpg');
    background-size:cover;
    background-position:center center;
    background-color:#000;
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:25;
    transition:.5s;
    opacity:1;
}
.loading::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0, .5);
}
.loading .custom-container {
    position: absolute;
    top: 60%;
    left: 50%;
    color: #fff;
    z-index: 7;
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX(-50%);
}
.loading .custom-container .image {
    width:fit-content;
}
.loading .custom-container .heading h1 {
    text-transform:uppercase;
    font-size:3em;
    margin-bottom: -4px;
}
.loading .custom-container .heading h4,
.loading .custom-container .heading h4 span{
    padding-left:10px;
}
.loading .custom-container .heading h4 span:first-child {
    opacity:0;
    animation: loading .9s ease-in-out 1s infinite forwards;
}
.loading .custom-container .heading h4 span:nth-child(2) {
    opacity:0;
    animation: loading .9s ease-in-out 2s infinite forwards;
}
.loading .custom-container .heading h4 span:last-child {
    opacity:0;
    animation: loading .9s ease-in-out 3s infinite forwards;
}
.loading .custom-container .heading h4 svg {
    width:11px;
    height:fit-content;
}
@media (min-width:768px) and (max-width:991px) {
    .loading .custom-container {
        width:60vw;
    }
    .loading .custom-container .heading h1 {
        font-size:2em;
    }
    .loading .custom-container .heading h4, 
    .loading .custom-container .heading h4 span {
        padding-left:0;
    }
}
@media (max-width:767px) {
    .loading .custom-container {
        top: 40%;
        left: 25%;
        display: block;
        transform: translateX(0);
    }
    .loading .custom-container .image {
        margin:0 auto;
    }
    .loading .custom-container .heading h1 {
        font-size:2em;
    }
    .loading .custom-container .heading h4, 
    .loading .custom-container .heading h4 span {
        padding-left:0;
    }
}
@keyframes loading {
    0% {
        opacity:0;
        filter:blur(0);
        color:#777;
    }
    20% {
        opacity:.7;
        color:#fff;
    }
    100% {
        opacity:1;
        color:#fff;
        filter:blur(30px);
    }
}
/* End Loading */
/* Start phone */
/* Start navbar */
.navbar-phone {
    /* position: relative; */
    display:none;
}
.navbar-phone .custom-container {
    /* position: absolute; */
    z-index: 4;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
    align-items: center;
}
.navbar-phone .custom-container span {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 50%;
    cursor:pointer;
    transition:.3s;
}
.navbar-phone .custom-container span:hover,
.navbar-phone .custom-container input:focus {
    color: var(--yellow-color);
    border-color: var(--yellow-color);
}
.navbar-phone .custom-container input {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 4px;
    width: 61vw;
    transition:.3s;
}
.navbar-phone .custom-container input:hover,
.navbar-phone .custom-container input:focus {
    background-color: transparent;
    outline:none;
    caret-color:#fff;
}
.navbar-phone ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    z-index: 6;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    width:85;
    display:none;
    color:#fff;
    transition:1s;
    opacity:1;
}
@keyframes openMenu {
    0% {
        width:0;
        color:#fff;
    }
    100% {
        width:85vw;
        color:#777;
    }
}
@keyframes closeMenu {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
.navbar-phone ul li {
    padding: 10px 20px;
    transition:.3s;
    cursor:pointer;
    color:#777;
}
.navbar-phone ul li:nth-child(3) {
    animation:viber 1.5s linear 1s infinite;
}
.navbar-phone ul li:hover,
.navbar-phone ul li:focus {
    color: var(--yellow-color);
    background-color: rgba(0,0,0,.02);
}
@keyframes viber {
    0% {
        transform:translateX(0);
    }
    20% {
        transform:translateX(7px);
    }
    30% {
        transform:translateX(-5px);
    }
    40% {
        transform:translateX(3px);
    }
    50% {
        transform:translateX(0);
    }
    100% {
        transform:translateX(0);
    }
}
@media (min-width:1200px) {
    .custom-navbar .main-menu li:not(:first-child):hover,
    .custom-navbar .second-menu li:hover {
    transform:matrix(1.2, 0, 0, 1.2, 25, 0);
    color:var(--yellow-color);
    }
}
@media (min-width:576px) and (max-width:767px) {
    .navbar-phone {
        display:none;
    }
}
@media (max-width:575px) {
    body {
        display: block;
    }
    .navbar-phone {
        position: relative;
        display:block;
    }
    .custom-navbar {
        display:none;
    }
    .custom-navbar {
        width: 100vw;
        padding:0;
        height: auto;
    }
    .custom-navbar .custom-container {
        display: grid;
        grid-template-columns: 150px 1fr;
        height: auto;
    }
    .custom-navbar .image {
        grid-row:1/3;
    }
    .custom-navbar .main-menu,
    .custom-navbar .second-menu {
        display:flex;
        width:calc(100% - 36px);
        flex-wrap:wrap;
    }
    .custom-navbar .main-menu {
        justify-content:space-between;
        padding-bottom:0;
        padding-top:10px;
    }
    .custom-navbar .second-menu {
        justify-content:space-evenly;
    }
    .custom-navbar ul li {
        align-items:center;
        margin-bottom:0;

    }
    .second-menu li:last-child {
        display:flex;
    }
    .custom-navbar .exit,
    .second-menu li:first-child {
        display:none;
    }
    .active-section {
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-image:none;
    color: var(--yellow-color);
    }
    .active-section a {
    color: var(--yellow-color);
    }
}
/* End navbar */
/* Start header */
.header-phone {
    display:none;
    background-image: url('../images/phone/background-3.jpg');
    height: 100vh;
    background-size: cover;
    background-position:55% 50%;
    display:relative; 
}
.header-phone::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,.5);
}
.header-phone .phone-image {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 40vw;
    z-index:4;
}
.header-phone .phone-image img {
    width:100%;
}
.header-phone .custom-container {
    position: absolute;
    top: 52%;
    transform: translate(-45%, 38%);
    left: 50%;
    padding: 20px 10px;
    width: 100vw;
    color: #fff;
    z-index:3;
}
.header-phone .custom-container h1 {
    font-weight: bold;
    font-size:2.5em;
    background-color: rgba(0,0,0,.2);
    padding: 10px;
}
.header-phone .custom-container h5 {
    font-style: italic;
    margin-top: -10px;
    color:#fff;
    font-size:1em;
}
@media (max-width:767px) {
    nav, .carousel {
        display:none;
    }
    .header-phone {
        display: block;
        background-position: 72% 50%;
    }
    .header-phone .phone-image {
        width:145px;
    }
}
/* End header phone */
/* End Phone */
/* Start Index */
.cover {
    position: relative;
    background-image: url('../images/background_1.jpg');
    background-size: cover;
    height: 100vh;
}
.cover::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(var(--dark-color), #bdc3c7);
    opacity: .8;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}
.under-cover {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .logo-onroad {
    width: fit-content;
} */
/* End Index */
/* Start Dashboard */
/* Start Section */
.section {
    height:100vh;
}
.section .custom-container {
    width: calc(100vw - 20vw);
    margin: 0 auto;
}
.choose-member {
    color: #fff;
    padding: 2px;
    border-radius: 4px;
    width:fit-content;
    margin-bottom: 20px;
}
.choose-member span {
    background-color: #7b827e;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    display:inline-block;
}
.choose-member span.active {
    background-color: var(--green2-color);
}
.choose-member span.active:hover {
    background-color: var(--green3-color);
}
.section .block-1 {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:10px 0;
    color:#fff;
}
.section .block-1 h3 {
    margin-bottom:0;
}
.section .block-1 input[type="search"] {
    width: 30vw;
    border-radius: 10px;
    background:none;
    background-image:linear-gradient(to left, #ffffff3d, #ffffff27, #ffffff10);
    border:2px solid transparent;
    padding: 2px 0 4px 40px;
    position: relative;
    transition:.3s;
    color:#fff;
}
.section .block-1 input[type="search"]:focus {
    border:2px solid var(--green-color);
    outline:none;
}
.section .block-1 input[type="search"]::before {
    margin-left: 0.25em;
    font-size: 2em;
    vertical-align: middle;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f0c8';
}
.section .block-1 ul {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    gap:20px;
    position:relative;
}
.section .block-1 ul li.langs {
    border-bottom: 1px solid transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 60px;
    transition:.3s;
    height:30px;
    top:0;
    left:-80px;
    overflow:hidden;
    transition:.3s;
    padding:3px 6px;
    z-index:20;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.section .block-1 ul li.langs:hover {
    border-bottom: 1px solid #ffffffc4;
    background-color:var(--light-dark);
}
.section .block-1 ul li.langs span {
    position: absolute;
    color: #fff;
    right: 5px;
    cursor: pointer;
    transition:.3s;
}
.section .block-1 ul li.langs a {
    display: block;
    transition:.3s;
    cursor:pointer;
    width: fit-content;
}
.section .block-1 ul li.langs a.active {
    color:var(--yellow-color);
}
@keyframes langUp {
    0% {
        height:82px;
    }
    100% {
        height:30px;
    }
}
@keyframes langDown {
    0% {
        height:30px;
    }
    100% {
        height:82px;
    }
}
.section .block-1 .icon {
    cursor:pointer;
}
.section .block-1 .icon-3 {
    width:30px;
    height:30px;
    border-radius:50%;
}
.section .block-1 .icon-3 img {
    border-radius:50%;
    height:100%;
}
.section .block-2 {
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    margin-bottom:20px;
}
.section .block-3 > div,
.section .block-4 > div {
    border-radius:5px;
}
.section .block-2 .info {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    background-image:linear-gradient(to left, #ffffff3d, #ffffff27, #ffffff10);
    flex-grow:1;
    padding:10px 0;
    border-radius:5px;
    cursor:pointer;
    position:relative;
}
.section .block-2 .info .detials {
    display:flex;
    flex-direction: column;
    transition:.5s;
    color:#fff;
}
.section .block-2 .info .detials span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}
.section .block-2 .info .image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:.4s;
    color:#fff;
}
.section .block-2 .info .image i {
    font-size: 2.5vw;
    color:#fff;
}
.section .block-2 .info:hover .image {
    transform:scale(1.2);
}
.section .block-2 .info:hover .detials {
    transform: translate(5px, -.5px);
}
.section .block-3 {
    margin-bottom:20px;
}
.section .block-3,
.section .block-4 {
    display:grid;
    grid-template-columns:2fr 1fr ;
    gap:20px;
}
.section .block-3 > div,
.section .block-4 > div {
    background-image:linear-gradient(to right, #ffffff2d, #ffffff04);
}
.section .block-3 .car {
    padding:20px;
    border-radius:5px;
    display:grid;
    grid-template-columns:2fr 1fr;
    color:#fff;
}
.section .block-3 .offer .name {
    display:flex;
    align-items:center;
    gap:10px;
}
.section .block-3 .offer .car-name h5 {
    margin-bottom:0;
}
.section .block-3 .offer .name .image {
    width:50px;
    height:50px;
}
.section .block-3 .offer .name .image img {
    width:100%;
}
.section .block-3 .offer .car-image {
    background-image:linear-gradient(to right, #ffffff15, #ffffff00);
    width: 100%;
    height: calc(326px/1.5);
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
}
.section .block-3 .offer .car-image img {
    width:80%;
}
.section .block-3 .chars {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}
.section .block-3 .chars .char {
    background-image:linear-gradient(to left, #ffffff28, #ffffff15, #ffffff15, #ffffff10);
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.section .block-3 .chars .char:not(.char-5) {
    flex-direction:column;
}
.section .block-3 .chars .char-5 {
    grid-column:1/3;
    gap:5px;
}
.section .block-3 .chars .char span:first-child {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#fff;
}
.section .block-3 .chars .char::after {
    content:"Detials";
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    background-color:var(--yellow-color);
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:.4s;
    cursor:pointer;
    font-weight:bold;
    border-radius:5px;
}
.section .block-3 .chars .char:hover::after {
    opacity:.9;
}
.section .block-3 .calender {
    padding:20px;
    color:#fff;
}
.section .block-3 .calender h4,
.section .block-3 .calender .month,
.section .block-3 .calender .days {
    background-image:linear-gradient(to right, #ffffff09, #ffffff00);
    padding:5px;
    border-radius:5px;
}
.section .block-3 .calender .wm {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    border:1px solid #999;
    border-radius:5px;
    margin: 10px 0;
}
.section .block-3 .calender .wm span {
    text-align:center;
    padding:8px 0;
    transition:.3s;
    cursor:pointer;
}
.section .block-3 .calender .wm span.active-span {
    color:#fff;
    background-color:var(--green-color);
}
.section .block-3 .calender .month,
.section .block-3 .calender .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-transform: capitalize;
}
.section .block-3 .calender .month {
    margin-bottom:10px;
}
.section .block-3 .calender .days {
    row-gap:10px;
}
.section .block-3 .calender .month span,
.section .block-3 .calender .days span {
    border-radius: 5px;
    text-align: center;
    font-size: 0.9em;
    transition:.3s;
    color:#DDD;
    cursor:pointer;
}
.section .block-3 .calender .days span.active-span {
    color:#fff;
    background-color:var(--green-color);
}
.section .block-4 > div {
    padding:10px;
    transition:.3s;
    cursor:pointer;
    position:relative;
    color:#fff;
}
.section .block-4 > div::after {
    content:"more detials";
    position:absolute;
    color:#fff;
    right:4px;
    transition: right .3s ease-in-out;
    opacity:0;
}
.section .block-4 > div:hover {
    background-color:var(--green-color);
    padding-left:14px;
}
.section .block-4 > div:hover::after {
    right:30px;
    opacity:1;
}
@media (min-width:992px) and (max-width:1199px) {
    .section .custom-container {
        width:94vw;
    }
}
@media (min-width:576px) and (max-width:991px) {
    .section .custom-container {
        width:92vw;
    }
    .section .block-1 {
        flex-wrap:wrap;
        margin:10px 0 20px;
    }
    .section .block-1 .message {
        flex-basis:100%;
    }
    .section .block-1 input[type="search"] {
        flex-grow: 1;
        margin-right: 20px;
    }
    .section .block-2 {
        flex-wrap:wrap;
    }
    .section .block-2 .info {
        flex-basis: 45%;
    }
    .section .block-3 {
        display:block;
    }
    .section .block-3 .car {
        margin-bottom:20px;
    }
    .section .block-4 {
        display:block;
    }
    .section .block-4 > div {
        margin-bottom:10px;
    }
}
@media (max-width:575px) {
    .section .custom-container {
        width:92vw;
    }
    .section .block-1 {
        flex-wrap:wrap;
        margin:10px 0 20px;
    }
    .section .block-1 ul {
        display:none;
    }
    .section .block-1 .message {
        flex-basis:100%;
    }
    .section .block-1 input[type="search"] {
        flex-grow: 1;
        margin-right:0;
    }
    .section .block-2 {
        flex-wrap:wrap;
        width:100%;
    }
    .section .block-2 .info {
        flex-direction:column;
        justify-content: center;
        align-items:center;
        flex-basis: 45%;
        padding: 10px 20px;
    }
    .section .block-3 {
        display:block;
    }
    .section .block-3 .car {
        margin-bottom:20px;
    }
    .section .block-4 {
        display:block;
    }
    .section .block-4 > div {
        margin-bottom:10px;
    }
    .section .block-3 .car {
        grid-template-columns: 1fr;
    }
    .section .block-2 .info .detials {
        text-align:center;
    }
    .section .block-3 .chars .char {
        padding:10px;
    }
}
/* End Dashboard */
/* Start Memebers */
.member-page h1,
.member-page table {
    color:#fff !important;
}
table .to-edit span {
    color: var(--green2-color);
    display: block;
    transition: .5s;
    width: fit-content;
    margin: 0 auto;
    color:#fff;
}
table .to-edit:first-child span:hover {
    color: var(--red-color);
}
table .to-edit:last-child span:hover {
    color: var(--yellow-color);
}
.add-member {
    max-width: 500px;
}
/* End Memebers */
/* Animation Keyframes */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateX(-10);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Animation Keyframes */